$mobile-size:320px;
$tablet-size:920px;
$desktop-size:1500px;

$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

li.book {
  @include media($mobile) {
    @include span-columns(12 of  12);
  }
  @include media($tablet) {
    @include span-columns(6 of  12);
    @include omega(2n);
  }
  @include media($desktop) {
    @include omega-reset(2n);
    @include span-columns(3 of 12);
    @include omega(4n);
  }
  border: 1px solid #ccc;
  margin-bottom: 3%;
  background: #838ba2;
  color: white;
  height:160px;
  position: relative;

  h3.book-title {
    padding: 2%;
    margin-top: 0%;
    background: #747d96;
    div.actions {
      float: right;
      span.action {
        margin:10px;
      }
    }
  }

  a.download {
    color: white;
  }
  div.details {
    padding-left: 2%;
    font-family: 'roboto';
  }
 
  div.author {
    text-align: center;
  }

  div.tags {
    position: absolute;
    bottom: 2px;
    button.edit-tags {
      color: #e5e5e5;
      font-size: 20px;
      padding:5px;
      border: none;
      background:none;
    }
  }

  .tag-detail {
    display: inline-block;
    white-space: nowrap;
    background : #e5e5e5;
    color: #747d96;
    border: 1px solid #747d96;
    margin: 2px;
    padding: 5px;
  }
  .removeClass {
     color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  .suggestionsClass {
    position: absolute;
    ul {
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      background: white;
      width: 200px;
    }
    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;
      color: black;
    }
    li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
    }
    ul li.active {
      background: #b7cfe0;
      cursor: pointer;
    }
  }

}