@import "bourbon";
@import "neat";

div.container {
  @include outer-container;
}

div.header {
  @include row();
  border: 1px solid #ccc;
  padding: 10px;
}

div.toolbar {
  @include span-columns(4);
  border: 1px solid #ccc;
}

div.bookshelf {
  @include span-columns(8);
  border: 1px solid #ccc;
}